/* @media only screen  and (min-width: "1026px") { */

/* #image-site {
    width: 100px; 
    float: right; 
    font-size: medium;
    color: brown;

    } */
    
    /* } */

.main {
    background-color: aqua;
}